body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
    padding: 20px;
    max-width: 1200px;
    width: 100%;
    box-sizing: border-box;
}

h1 {
    margin: 0;
    color: white;
    font-size: 2.5rem;
}

p {
    margin: 0;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
    padding-top: 50px;
}

.content-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}

.content-item {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: #486aef;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}


.button-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 15px; /* Space between buttons */
    justify-content: center; /* Center align the grid */
    align-items: center; /* Vertically align the buttons */
    margin-top: 20px;
}

.button-grid button {
    padding: 10px 20px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    background-color: #486aef;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-grid button:hover {
    background-color: #3656d1;
}


.computer-frame {
    width: 600px;
    height: 450px;
    border: 15px solid #333;
    border-radius: 10px;
    margin: 30px auto;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

.computer-frame p {
    color: #333;
    font-weight: normal;
}

#map {
    width: 100%;
    height: 100%;
}

.deep-dive-section {
    padding: 40px 20px;
    text-align: center;
    background-color: #ffffff; /* Background color for contrast */
    margin-top: 30px; /* Space between sections */
}

.deep-dive-section h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.deep-dive-section p {
    font-size: 1.25rem;
    color: #666;
    margin-bottom: 40px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.screenshot-gallery {
    display: grid;
    gap: 20px;
    justify-content: center;
}

.screenshot-row {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.screenshot-row img {
    width: 45%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

#opinion-on-ukraine {
    padding: 40px 20px;
    text-align: center;
    background-color: #f5f5f5; /* Light gray background for contrast */
    margin-top: 30px; /* Space between sections */
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#opinion-on-ukraine h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

#opinion-on-ukraine p {
    font-size: 1.25rem;
    color: #666;
    margin-bottom: 30px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}


.change-suggestions-section {
    padding: 40px 20px;
    text-align: center;
    background-color: #f5f5f5; /* Light gray background for contrast */
    margin-top: 30px; /* Space between sections */
}

.change-suggestions-section h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.change-suggestions-section p {
    font-size: 1.25rem;
    color: #666;
    margin-bottom: 30px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.phone-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.phone {
    width: 300px; /* Adjust as needed */
    height: 600px; /* Adjust as needed */
    border: 1px solid #ddd; /* Phone border */
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-placeholder {
    width: 100%;
    height: 100%;
    background-color: #f4f4f4; /* Placeholder background color */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swipe-button {
    background-color: #486aef;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.swipe-button:hover {
    background-color: #4a72f0;
}


footer {
    background-color: #486aef;
    color: white;
    padding: 20px;
    text-align: center;
}

.legend {
    background: white;
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    font-size: 12px;
}

.legend h4 {
    margin: 0 0 5px;
    font-weight: bold;
}

.legend i {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 8px;
    vertical-align: middle;
    border-radius: 2px;
    border: 1px solid black;
}

