/* Basic Reset and Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
    padding: 20px;
    max-width: 1200px;
    width: 100%;
    box-sizing: border-box;
}

h1 {
    margin: 0;
    color: white;
    font-size: 3rem;
    font-family: "Baskerville Old Face";
    font-weight: bold;
}

h2 {
    font-size: 3rem;
    color: #333333;
    font-family: "Baskerville Old Face";
}

p {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    padding-top: 50px;
    color: #666;
    margin-bottom: 30px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-family: Bahnschrift Light;
}

header p, footer p {
    color: white;
    font-family: "Baskerville Old Face";
    text-align: left;
}

.content-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}

.content-item {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: #486aef;
    color: white;
    border: none;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    overflow: hidden;
    position: relative;
    transition: box-shadow .15s, transform .15s;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    padding: 12px 25px;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 8px;
    margin: 15px 0;
}

button:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

#map {
    width: 100%;
    height: 500px;
    margin: 0 auto;
}

.computer-frame {
    width: 600px;
    height: 450px;
    border: 15px solid #333;
    border-radius: 10px;
    margin: 30px auto;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

.computer-frame p {
    color: #333;
    font-weight: normal;
}

.deep-dive-section {
    padding: 40px 20px;
    text-align: center;
    background-color: #ffffff;
    margin-top: 30px;
}

.deep-dive-section h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    font-family: "Baskerville Old Face";
}

.deep-dive-section p {
    font-size: 1.25rem;
    color: #666;
    margin-bottom: 40px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.hide {
    display: none;
    position: absolute;
    margin-top: 5px;
    font-family: Bahnschrift Light;
    text-align: center;
}

.img-deep-dive:hover + .hide {
    display: block;
    font-size: 1rem;
    color: #333;
}

.screenshot-gallery {
    display: grid;
    gap: 50px;
    justify-content: center;
}

.screenshot-row {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 60px;
}

.screenshot-row img {
    max-width: 300px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

#opinion-on-ukraine {
    padding: 40px 20px;
    text-align: center;
    background-color: #f5f5f5;
    margin-top: 30px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#opinion-on-ukraine h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

#opinion-on-ukraine p {
    font-size: 1.25rem;
    color: #666;
    margin-bottom: 30px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.change-suggestions-section {
    padding: 40px 20px;
    text-align: center;
    background-color: #f5f5f5;
    margin-top: 30px;
}

.change-suggestions-section h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.change-suggestions-section p {
    font-size: 1.25rem;
    color: #666;
    margin-bottom: 30px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.phone-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

.phone {
    width: 350px;
    height: 700px;
    border: 1px solid #ddd;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.phone-content {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
footer {
    margin-top: 50px;
    position: relative;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the top */
    box-sizing: border-box;
    padding: 20px; /* Add padding to create space around the text */
}

footer p {
    color: white;
    font-family: "Baskerville Old Face";
    text-align: left;
}
