body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #486aef;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

button {
    background-color: #486aef;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 5px;
}

button:hover {
    background-color: #486aef;
}

main {
    padding: 20px;
    margin-top: 30px;
}

.computer-frame {
    position: relative;
    width: 800px;
    height: 600px;
    border: 15px solid #333;
    border-radius: 10px;
    margin: 50px auto;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

.computer-frame:before {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 10px;
    background-color: #333;
    border-radius: 5px;
}

.computer-frame:after {
    content: '';
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 20px;
    background-color: #444;
    border-radius: 5px;
}

canvas {
    width: 90%;
    height: 90%;
    max-width: 90%;
    max-height: 90%;
}


